<!DOCTYPE html>

<html lang="en">

<head>

	<title>FCC Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
	/>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>

	<nav class="nav navbar-custom navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<strong>FCC</strong>
				</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/register">
							<span class="glyphicon glyphicon-user"> Register</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<hr> 
	
	<div class="container">
		<div  class="col-sm-8 col-sm-offset-2">
			<h2><span class="glyphicon glyphicon-log-in"> Login</span></h2>	
			<hr>

			{{#flag}}
			<div class="alert alert-danger">
				{{strMsg}}
			</div>
			{{/flag}}
	
			<form method="post" action="login">
				<div class="form-group">
					<label>User name</label>
					<input type="text" class="form-control" name="username" placeholder="user name">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" class="form-control" placeholder="password">
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
			</form>
		</div>		
	</div>



</body>

</html>